body {
    margin: 0px;
}

h1 {
    margin: 0;
    font-family: 'Sassy Frass', cursive;
    font-size: 72px;
}

h2 {
    font-size: 2.5rem;
    margin: 0;
}

h3 {
    margin-bottom: 20px;

}

.dag {
    position: relative;

    left: 110px;
}

.bulut {
    position: absolute;
    bottom: 450px;
}

.bulut2 {
    position: relative;
    left: 300px;
    bottom: 160px;
}

.kutu0 {
    width: 100%;
    height: 700px;
    text-align: center;
    padding-top: 200px;
    background-color: #96be25;
}

.middle-container {
    text-align: center;

}

.bottom-container {
    text-align: center;
    margin: 0;

}

.skill-row {
    width: 30%;
    margin: 100px auto;

}

.contact-me {
    background-color: #96be25;
    margin: 0;
}

.btn {
    background: #34d95a;
    background-image: -webkit-linear-gradient(top, #34d95a, #2bb840);
    background-image: -moz-linear-gradient(top, #34d95a, #2bb840);
    background-image: -ms-linear-gradient(top, #34d95a, #2bb840);
    background-image: -o-linear-gradient(top, #34d95a, #2bb840);
    background-image: linear-gradient(to bottom, #34d95a, #2bb840);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 14px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #34ad00;
    background-image: -webkit-linear-gradient(top, #34ad00, #009c03);
    background-image: -moz-linear-gradient(top, #34ad00, #009c03);
    background-image: -ms-linear-gradient(top, #34ad00, #009c03);
    background-image: -o-linear-gradient(top, #34ad00, #009c03);
    background-image: linear-gradient(to bottom, #34ad00, #009c03);
    text-decoration: none;
}